{% extends 'base.html.twig' %}

{% block title %}Centri | {{ parent() }}{% endblock %}

{% block body %}
    <h3>Stranica pretrage centra</h3>
    <a href="{{ path('admin') }}">Admin</a><br />
    <a href="{{ path('app_contact') }}">Contact</a><br />
    <a href="{{ path('app_center') }}">Centri</a><br />
    <a href="{{ path('app_home') }}">Home</a><br />

    <div class="form-group mb-6">
        {{ form(form) }}
    </div>

{% endblock %}
